<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
      mdl-layout--fixed-header">
      {% include header.html %}
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Bazel</span>
        <nav class="drawer-nav">
          <ul class="drawer-nav">
            <li><a href="index.html">Overview</a></li>
            <li>
              <a href="#"> Rust Rules</a>
              <ul>
                <li><a href="rust_repositories.html">rust_repositories</a></li>
                <li><a href="rust_library.html">rust_library</a></li>
                <li><a href="rust_binary.html">rust_binary</a></li>
                <li><a href="rust_test.html">rust_test</a></li>
                <li><a href="rust_bench_test.html">rust_bench_test</a></li>
                <li><a href="rust_doc.html">rust_doc</a></li>
                <li><a href="rust_doc_test.html">rust_doc_test</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          {{ content }}
        </div>

        {% include footer.html %}
      </main>
    </div>
  </body>
</html>
